<p id="notice"><%= notice %></p>

<h1>Post</h1>

<div class="body_index container">
    <% @userposts.each_slice(3) do |userposts| %>
    
    <div class="row">
      <br>
      <% userposts.each do |userpost| %>
      <div class="card mr-4 " style="width: 18rem;" >
          <%if userpost.image.attached? %>
        <%= image_tag userpost.image.variant(resize:"400x400")%>
        <%end%>
        <div class="card-body">
          <h5 class="card-title"><%= userpost.name %></h5>
          <p class="card-text"><%= userpost.detail %></p>
          
          <%= link_to 'Show', userpost, class:'btn border-info' %>
          <%= link_to 'Edit', edit_post_path(userpost) , class:'btn border-info'%>
        <%= link_to 'Destroy', userpost, method: :delete, data: { confirm: 'Are you sure?' } , class:'btn border-info'%>
        </div>
        <div class="card-footer text-muted">
          <small>Updated <%=time_ago_in_words userpost.updated_at%></small>
          <button type="button" class="btn border-primary" data-toggle="modal" data-target="#exampleModal">
              <%= "#{userpost.likes.where(match: true).count} " "likes " %>
            </button>
            <% userpost.likes.each do |like|%>
            <%= like.user.name%>
            <%end%>
            
          </div>
          
      </div>
      <br>
    <% end %>
    </div>
    <br>
    <% end %>
    <br>
  </div>
  
